<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TestMapper">

    <cache
        readOnly="true"
    />

    <resultMap id="test2" type="Student">
        <id column="sid" property="sid"/>
        <result column = "name" property="name"/>
        <result column = "sex" property = "sex"/>
        <association property="teacher" javaType = "Teacher">
            <id column="tid" property="tid"/>
            <result column ="tname" property="name"/>
        </association>
    </resultMap>
    <select id="selectStudent" resultMap="test2">
        select *, teacher.name as tname from student left join teach on student.sid = teach.sid
                                                     left join teacher on teach.tid = #{tid}
    </select>
    <select id="getStudentBySid"  parameterType="int" resultType="Student" >
        select * from student where sid = #{sid}
        <choose>
            <when test="sid == 1">
                and sex = '女'
            </when>
            <when test="sid == 2">
                and sex = '女'
            </when>
            <otherwise>
                and sex = '男'
            </otherwise>
        </choose>
    </select>
    <insert id="addStudent" parameterType="Student" >
        insert into student(sid,name,sex) values(#{sid},#{name},#{sex})
    </insert>
    <delete id="deleteStudent" parameterType="int">
        delete from student where sid = #{sid}
    </delete>


</mapper>